body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #007bff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #28a745;
    transition: backgound-color 0.3s ease;


}

button:hover{
    background-color: #218838
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #e9ecef;
}

li.completed {
    text-decoration: line-through;
    color: #6c757d;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

button.edit {
    background-color: #ffc107;
}

button.edit:hover {
    background-color: #e0a800;
}

button.delete {
    background-color: #dc3545;
}

button.delete:hover {
    background-color: #c82333;
}
