 body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.building{
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 750px;
    border: 3px solid black;
    background-color: #f0f0f0;
    margin: 20px auto;
    overflow: hidden;
}
.floors {
    position: absolute;
    width: 100%;
}

.floor{
    height: 100px;
    border-bottom: 2px solid rgb(8, 8, 8);
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    background: #bedbeb;
    position: relative;

}

button{
    
    font-size: 14px;
    cursor: pointer;
    margin: 4px;
    
}

.lift-container{
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
 .lift{
    width: 40px;
    height: 50px;
    background-color: steelblue;
    transition: bottom 2s ease-in-out;
    position: absolute;
    bottom: 0;
    transition: bottom 2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
} 

#lift1{
    left: 20px;
}
.message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
} 
